@import './vars.list';
.pdo-element{
	height: $pdo-element-height;
	margin: $pdo-element-margin-top-bottom 0; 
	*{
		font-size: $pdo-text-size;
	}
}
.pdo-action{
	font-size: $pdo-action-icon-size;
}
a{
	text-decoration: none;
	color: black;
}
.pdo-title, .pdo-action{
	position: relative;
    top: 50%; 
    transform: translateY(-50%);
}
