<ion-view name="pdo-main" title="">
<ion-content class="center main-content">
<div class="row">
    <div class="col">
        <button class="button button-outline button-positive" data-ng-click="goToReport()">Reportar!</button>
    </div>
</div>
<div class="row">
    <div class="col">
        <button class="button button-outline button-positive" data-ng-click="goToHistory()">Ver mis PDo</button>
    </div>
</div>
<div class="row">
    <div class="col">
        <button class="button button-outline button-positive" >¿Cómo funciona?</button>
    </div>
</div>
</ion-content>
</ion-view>