<ion-view name="pdo-report">
<ion-content class="">
<div>
    <form novalidate>
        <label class="item item-input item-floating-label">
            <span class="input-label">Nombre</span>
            <input type="text" placeholder="Nombre" required data-ng-model="pdo.name">
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">Apellidos</span>
            <input type="text" placeholder="Apellidos" required data-ng-model="pdo.surname">
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">Nº CARNET UAH</span>
            <input type="text" placeholder="Nº CARNET UAH" required data-ng-model="pdo.num_id">
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input type="email" placeholder="Email" required data-ng-model="pdo.email">
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">Teléfono</span>
            <input type="tel" placeholder="Teléfono" data-ng-model="pdo.phone">
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">Teléfono</span>
            <escuela  placeholder="Escuela" data-ng-model="pdo.school">
        </label>

    </form>
</div>
</ion-content>
</ion-view>