<ion-view name="pdo-history-detail">
<ion-header-bar align-title="center" class="bar-positive">
<div class="buttons">
    <button class="button" ui-sref="pdo.main()"><i class="icon ion-reply"></i></button>
</div>
<h1 class="title">{{viewTitle}}</h1>
</ion-header-bar>
<ion-content class="has-header" >
<div class="row">
    <div class="col col-25">Centro:</div>
    <div class="col col-75">{{pdo.school}}</div>
</div>
<div class="row">
    <div class="col col-25">Programa:</div>
    <div class="col col-75">{{pdo.program}}</div>
</div>
<div class="row">
    <div class="col col-25">Asignatura:</div>
    <div class="col col-75">{{pdo.course}}</div>
</div>
<div class="row">
    <div class="col col-25">Fecha:</div>
    <div class="col col-75">{{pdo.created_on}}</div>
</div>
<div class="row">
    <div class="col col-25">Titulo:</div>
    <div class="col col-75">{{pdo.title}}</div>
</div>
<div class="row">
    <div class="col col-25">Texto:</div>
    <div class="col col-75">{{pdo.text}}</div>
</div>
</ion-content>
</ion-view>