@import './vars.detail';

.pdo-comments{
	.panel-title{
		width: $pdo-comment-width;
	}
}
div.row{
	margin-right: 0px !important; 
	margin-left:  0px !important; 
}
.separator{
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
	border-top: 1px solid #ccc;
	margin-top: 5px;
}